
<html>
    <body>
Co się tu odjaniepawla
        
        <br>
        Twój podany wzrost to:
        {{ user.wzrost }}
        <a href="{{ path('diet_user_editheight') }}">edytuj</a>
        <br>
        Twój podany wiek to:
        {{ user.wiek }}
        <a href="{{ path('diet_user_editage') }}">edytuj</a>
        <br>
        Twoja podana waga to:
        {{ user.waga }}
        <a href="{{ path('diet_user_editweight') }}">edytuj</a>
    </body>
</html>